body {
  text-align: center;
}

li {
  list-style-type: none;
}

h1 {
  margin: 0;
}

.image {
  width: 440px;
  height: 320px;
}

.list {
  display: block;
  padding: 0;
  margin: 0;
}

#gallery {
  display: flex;
  justify-content: space-around;

  margin: 0;
  padding: 0;
}

#counter,
#validation-input {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

.task-7 {
  margin-bottom: 100px;
}
